@import "tailwindcss";

@theme {
  --color-hmoBlue:#1E80C1;
  --color-hmoLightBlue:#A5DEF2;
  --color-hmoPurple:#414C6B;
  --color-hmoLightPurple:#C0A9BC;
  --color-hmoGreen:#5BAEB7;
  --color-hmoLightGreen:#2ECBE9;
  
}

.react-calendar{
  width:100% !important;
  border: none;
  font-family: "Inter";
}
.react-calendar__tile--active{
  background-color: #A5DEF2;
  color:black;
}
.react-calendar__navigation__label__labelText{
  font-weight: 600;
}

.rbc-btn-group:first-child{
  display: none !important;
}

.rbc-toolbar-label{
  text-align: right !important ;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child{
  font-size: 13px !important;
}
.rbc-btn-group:last-child button{
  border: none !important;
  background-color: #f1f1ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active{
  background-color: #dbdafe !important;
  box-shadow: none !important;
}
.rbc-time-header{
  display: none !important;
}

.rbc-time-header{
  border-color: #eee !important;
}

.rbc-time-content{
  border: none !important;
}

.rbc-row .rbc-time-header-cell{
  font-size: 12px !important;

}

.rbc-day-slot .rbc-time-column .rbc-now .rbc-today{
  border: none !important;
}